.tags__list {
  display: flex;
  color: #2f3642;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
}

.tags__item {
  background-color: #f3f5f9;
  border-radius: 22px;
  padding: 10px 20px;
  margin-right: 15px;
  color: #716d69;

  &:last-child {
    margin-right: 0;
  }
}