.user-data {
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 260px;
}

.user-data__desc {
  position: absolute;
  left: -260px;
  top: 0;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: right;
  font-size: 18px;
  color: #716d69;
}

.user-data__name {
  line-height: 60px;
  font-family: "Open Sans";
  font-weight: 800;
  text-align: center;
  font-size: 72px;
}